* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: url('background1920x1080.png');
  background-size: cover;
}

.controls > button {
  width: 50px;
  height: 50px;
  background: #000;
  color: #fff;
  font: 32px Bangers;
  border: 1px solid #fff;
}
